.default-color0.chart-series-area-fill { -fx-fill: #ffa07a; }
.default-color1.chart-series-area-fill { -fx-fill: #ff6e49; }
.default-color2.chart-series-area-fill { -fx-fill: #add8e6; }
.default-color3.chart-series-area-fill { -fx-fill: #90ee90; }
.default-color4.chart-series-area-fill { -fx-fill: #000000; }